body {
    background: #FFFFFF;
  }
  
  /*div para buscar por DNI*/
  .dni-buscar {
    position: absolute;
    display: flex;
    width: 664px;
    height: 73px;
    left: 282px;
    top: 133px;
  
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .dni-buscar label {
    position: absolute;
    width: 131px;
    height: 33px;
    left: 496px;
    top: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  
    color: #224E7C;
  }
  
  /*botones para ambos buscar*/
  .botonBuscar {
    position: relative;
    display: flex;
    top: 19%;
    left: -2.6%;
    width: 42px;
    height: 38px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-image: linear-gradient(160deg,
        #2EE6E3, #E3D214, #2AFA23);
    transition: .3s;
  }
  
  .botonBuscar:active {
    scale: 1.1;
  }
  
  /*la caja donde se escriben los datos*/
  .cajaEscribir {
    position: relative;
    width: 580px;
    height: 30px;
    left: 26px;
    top: 17px;
    border: 1px solid #7E7474;
    border-radius: 5px;
  }
  
  /*para ambos div*/
  .iconBuscar {
    position: relative;
    width: 38px;
    height: 34px;
    top: 1%;
    left: -5.1px;
    border-radius: 5px;
  }
  
  /*caja para buscar productos*/
  .productos-buscar {
    position: absolute;
    display: flex;
    width: 664px;
    height: 73px;
    left: 283px;
    top: 232px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .productos-buscar label {
    position: absolute;
    width: 131px;
    height: 33px;
    left: 496px;
    top: 52px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  
    color: #224E7C;
  }
  
  .botonesEdicion {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 1119px;
    height: 82px;
    left: 125px;
    top: 321px;
  }
  
  .Añadir:active,
  .genBoleta:active {
    scale: 1.1;
    background-image: linear-gradient(160deg,
        #24d61e, #92D6AA, #24d61e);
    transition: .3s;
  }
  
  .eliminar:active {
    scale: 1.1;
    background-image: linear-gradient(160deg,
        #aa4649, #D0565A, #a13e41);
    transition: .3s;
  }
  
  .Añadir {
    position: absolute;
    width: 302px;
    height: 57px;
    left: 15px;
    top: 19px;
    border-color: #92D6AA;
    background: #98D9AF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .genBoleta {
    position: absolute;
    width: 305px;
    height: 62px;
    left: 392px;
    top: 19px;
    border-color: #92D6AA;
    background: #98D9AF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .eliminar {
    position: absolute;
    width: 305px;
    height: 62px;
    left: 761px;
    top: 19px;
    border-color: #D0565A;
    background: #D0565A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  
  /*Logos*/
  .logo {
    position: absolute;
    width: 128px;
    height: 96px;
    left: 1244px;
    top: 7px;
    border-radius: 210px;
  }
  
  .logo-tienda {
    position: absolute;
    width: 188px;
    height: 170px;
    left: 67px;
    top: 133px;
  
    opacity: 0.93;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .franja {
    position: absolute;
    width: 1319px;
    height: 8px;
    left: 67px;
    top: 114.17px;
    background: #000000;
  }
  
  .regClientes {
    position: absolute;
    width: 404px;
    height: 54px;
    left: 111px;
    top: 51px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
  
    color: #000000;
  }
  
  .botonesEdicion img {
    position: absolute;
    left: 10.16%;
    right: 74.1%;
    top: 11.29%;
    bottom: 11.29%;
  
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .botonesEdicion .Añadir label,
  .genBoleta label {
    position: absolute;
    left: 40.98%;
    right: 33.44%;
    top: 29.03%;
    bottom: 30.65%;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
  
    text-align: center;
  
    color: #005C21;
  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .eliminar label {
    position: absolute;
    left: 33.77%;
    right: 33.77%;
    top: 29.03%;
    bottom: 30.65%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #810606;
  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* inputs de abajooo*/
  
  .div-cliente {
    position: absolute;
    width: 659px;
    height: 71px;
    left: 434px;
    top: 935px;
  }
  
  .div-total {
    position: absolute;
  
    width: 276px;
    height: 72px;
    left: 1116px;
    top: 934px;
  }
  
  .span-abajo {
    position: absolute;
    width: 161.36px;
    height: 42px;
    left: 26px;
    top: 12px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
  
    color: #000000;
  }
  
  .cliente-input {
    box-sizing: border-box;
  
    position: absolute;
    width: 469px;
    height: 51px;
    left: 166px;
    top: 7px;
  
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
  }
  
  .total-input {
    box-sizing: border-box;
  
    position: absolute;
    width: 138px;
    height: 51px;
    left: 127px;
    top: 8px;
  
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
  }
  
  /*tablas*/
  table {
    background-color: #8f8b8b;
    position: absolute;
    width: 1314px;
    left: 67px;
    top: 411px;
    border-radius: 9px;
    border: 1px solid #000000;
    border-collapse: separate;
    border-spacing: 1;
  }
  
  th,
  td {
    border-radius: 1px;
    border: 1px #000000;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #E3E3E3;
  }