body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #ffffff;
}

main {
	width: 90%;
	max-width: 400px;
	padding: 200px;
	background-color: #ffffff;
}

header {
	text-align: center;
	margin-bottom: 20px;
}
.Barra{
position: absolute;
width: 100%;
height: 70px;
left: 0px;
top: 0px;
background: #004176;

}
h1{
	position: absolute;
width: 842px;
height: 38px;
left: 324px;
top: 1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500px;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}

.logo {
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
}

form {
	display: flex;
	flex-direction: column;
}

form > * {
	margin-bottom: 20px;
}

form > div {
	position: relative;
}

form input[type="text"],
form input[type="password"] {
	padding-left: 10px;
	width: 100%;
	box-sizing: border-box;
}

form img {
	position: absolute;
	left: calc(100% - 50px);
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
}

button {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	background: #009640;
	border: 1px solid #000000;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.59);
	border-radius: 5px;
}

.olvido {
	text-align: center;
	position: fixed;
	bottom: 215px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	text-decoration-line: underline;
	color: #7A7A7A;
}

form input {
	width: 100%;
	height: 58px;
	box-sizing: border-box;
	border: 1px solid #000000;
	border-radius: 5px;
	font-size: 20px;
}