.Titulo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    color: #000000;
}

.CajaTexto {
    position: relative;
    left: 16%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 59px;
}

.Nombre_Apellidos {
    display: flex;
    gap: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #000000;
}

input.txtNombre {
    box-sizing: border-box;
    width: 289px;
    height: 51px;
    border: 3px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

input.txtApellidos {
    box-sizing: border-box;
    width: 289px;
    height: 51px;
    border: 3px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

.DNI {
    display: flex;
    gap: 118px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
}

input.txtDni {
    box-sizing: border-box;
    width: 289px;
    height: 50px;
    border: 3px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

.Telefono {
    display: flex;
    gap: 69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
    position: absolute;
    top: 56%;
    right: 21.4%;
}

input.txtTelefono {
    box-sizing: border-box;
    width: 289px;
    height: 50px;
    border: 3px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

button.REGISTRAR {
    width: 310px;
    height: 62px;
    background: #1BAA4D;
    opacity: 85%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #005C21;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.EDITAR {
    width: 310px;
    height: 62px;
    background: #E8FD65;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #2D2F2F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.LIMPIAR {
    width: 310px;
    height: 62px;
    background: #D0DDE0;
    opacity: 85%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #2D2F2F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.CANCELAR {
    width: 310px;
    height: 62px;
    opacity: 81%;
    background: #FF0008;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #810606;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button.Volver {
    position: absolute;
    top: 1016%;
    right: 1%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    background: none;
    border: none;
}
.BuscarCliente {
    box-sizing: border-box;
    position: absolute;
    width: 1322px;
    height: 39px;
    left: 49px;
    top: 411px;
    border-width: 3px 3px 0px 3px;
    border-style: solid;
    border-color: #3A3838;
    border-radius: 0px;
}

input.txtBuscarCliente {
    right: 4%;
    width: 1257px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
}

input.imgBuscar {
    position: absolute;
    right: 0.5%;
    top: 10%;
}

.Tabla {
    position: absolute;
    display: grid;
    left: 49px;
    top: 448px;
    border: 1px solid #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    border-width: 3px 3px 3px 3px;
    width: 91.5%;
}

table#Tabla\ Registro {
    border-collapse: collapse;
}

th {
    background-color: #ffffff;
    border: 1px solid #000000;
}

